<div class="container-fluid">
  <div class="row" style="text-align: center"><h2> Angular Calender</h2></div>
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4><small>
        <!--        <app-header [(view)]="view" [(viewDate)]="viewDate"></app-header>-->
      </small></h4>
      <hr>
      <h4>
        <div class="alert alert-info">
          Parking
        </div>
      </h4>
      <div
        class="card" mwlDroppable (drop)="externalDrop($event.dropData.event)" dragOverClass="drag-over">
        <div class="card-body">
          <p *ngIf="externalEvents.length === 0"><em>No More Park Events</em></p>
          <ul>
            <li
              *ngFor="let event of externalEvents"
              mwlDraggable
              [dropData]="{event: event}"
              dragActiveClass="drag-active">
              <label style="cursor: pointer" [style.color]="event.color.primary">
                {{ event.title }}
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <h4><small>
        <app-header [(view)]="view" [(viewDate)]="viewDate"></app-header>
      </small></h4>
      <hr>
      <h4>
        <div class="alert alert-info">
          Click on a day or time slot on the view.
          <strong *ngIf="clickedDate">You clicked on this time: {{ clickedDate | date:'medium' }}</strong>
          <strong *ngIf="clickedColumn != null">You clicked on this column: {{ clickedColumn }}</strong>
        </div>
      </h4>
      <hr>

      <ng-template #eventTemplate let-weekEvent="weekEvent">
        <div [title]="getTitle(weekEvent.event)"
             [ngClass]="(weekEvent.event.totalTime === 2) ? 'two-min-width' : 'four-min-width'"
             [ngStyle]="{'background-color': weekEvent.event.color.secondary, 'border-color': weekEvent.event.color.primary}">
          <input type="checkbox" (change)="checkBoxCheck(weekEvent.event)"> <span
          style="color: #1e90ff"> {{weekEvent.event.title}}</span>
        </div>
      </ng-template>
      <ng-template #eventWeekTemplate let-weekEvent="weekEvent">
        <div [title]="getTitle(weekEvent.event)"
             style="border: 1px solid;"
             [ngStyle]="{'background-color': weekEvent.event.color.secondary, 'border-color': weekEvent.event.color.primary}">
          <input type="checkbox" (change)="checkBoxCheck(weekEvent.event)"> <span
          style="color: #1e90ff"> {{weekEvent.event.title}}</span>
        </div>
      </ng-template>

      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
          (dayClicked)="clickedDate = $event.day.date"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventDropped($event, 'month')"
          [activeDayIsOpen]="activeDayIsOpen"
          [refresh]="refresh">
        </mwl-calendar-month-view>
        <!--        (beforeViewRender)="beforeMonthViewRender($event)"-->
        <!--        (dragEventChanged)="dragEventChanged($event)"-->
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [eventTemplate]="eventWeekTemplate"
          (dayHeaderClicked)="clickedDate = $event.day.date"
          (hourSegmentClicked)="OnDayClickedEvent(clickedDate = $event.date, $event)"
          (beforeViewRender)="beforeWeekViewRender($event)"
          [snapDraggedEvents]="false"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventDropped($event, 'week')"
          [dayStartHour]="weekStartHour"
          [refresh]="refresh">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          time
          [viewDate]="viewDate"
          [events]="events"
          [eventTemplate]="eventTemplate"
          [dayStartHour]="dayStartHour"
          (hourSegmentClicked)="OnDayClickedEvent(clickedDate = $event.date,$event)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventDropped($event, 'day')"
          [snapDraggedEvents]="false"
          (beforeViewRender)="beforeDayViewRender($event)"
          [refresh]="refresh">
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" id="myModal" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#user" role="tab" data-toggle="tab">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#booking" role="tab" data-toggle="tab">Booking Detail</a>
          </li>
        </ul>
      </div>
      <div class="modal-body p-0">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active show" id="user">
            <div class="container">
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="userData.name">
                    </div>
                    <div class="form-group">
                      <label>Last name</label>
                      <input type="text" class="form-control" name="lastname" [(ngModel)]="userData.lastname">
                    </div>
                    <div class="form-group">
                      <label>Phone</label>
                      <input type="number" class="form-control" name="phone" [(ngModel)]="userData.phone">
                    </div>
                    <div class="form-group">
                      <label>email</label>
                      <input type="email" class="form-control" name="email" [(ngModel)]="userData.email">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="booking">
            <div class="container">
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <label>Product name</label>
                      <input type="text" class="form-control" name="product_name" [(ngModel)]="eventData.product_name">
                    </div>
                    <div class="form-group">
                      <label>Duration</label>
                      <input type="number" class="form-control" name="duration" [(ngModel)]="eventData.duration">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Booking date </label>
                        <dx-date-box
                          [(min)]="startValue"
                          [(value)]="eventData.booking_date">
                        </dx-date-box>
                      </div>
                      <div class="form-group col-md-6">
                          <label>Time Slot</label>
                          <input type="text" class="form-control" name="time_slots" [(ngModel)]="eventData.time_slots">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Select Color</label>
                      <select name="color" [(ngModel)]="eventData.color" class="form-control">
                        <option value="blue">Blue</option>
                        <option value="yellow">Yellow</option>
                      </select>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onCloseHandled()">Book</button>
      </div>
    </div>
  </div>
</div>


<!--
<app-header></app-header>
<div class="alert alert-info">
  Click on a day or time slot on the view.
  <strong *ngIf="clickedDate"
  >You clicked on this time: {{ clickedDate | date:'medium' }}</strong
  >
  <strong *ngIf="clickedColumn != null"
  >You clicked on this column: {{ clickedColumn }}</strong
  >
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
    (dayClicked)="clickedDate = $event.day.date"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    (dayHeaderClicked)="clickedDate = $event.day.date"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-day-view>
</div>
-->
