<div class="container-fluid">
  <div class="row" style="text-align: center"><h2> Angular Calender</h2></div>
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4><small>
        <!--        <app-header [(view)]="view" [(viewDate)]="viewDate"></app-header>-->
      </small></h4>
      <hr>
      <h4>
        <div class="alert alert-info">
          Parking
        </div>
      </h4>
      <div
        class="card" mwlDroppable (drop)="externalDrop($event.dropData.event)" dragOverClass="drag-over">
        <div class="card-body">
          <p *ngIf="externalEvents.length === 0"><em>No More Park Events</em></p>
          <ul>
            <li
              *ngFor="let event of externalEvents"
              mwlDraggable
              [dropData]="{event: event}"
              dragActiveClass="drag-active">
              <label style="cursor: pointer" [style.color]="event.color.primary">
                {{ event.title }}
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <h4><small>
        <app-header [(view)]="view" [(viewDate)]="viewDate"></app-header>
      </small></h4>
      <hr>
      <h4>
        <!--<div class="alert alert-info">
          Click on a day or time slot on the view.
          <strong *ngIf="clickedDate">You clicked on this time: {{ clickedDate | date:'medium' }}</strong>
          <strong *ngIf="clickedColumn != null">You clicked on this column: {{ clickedColumn }}</strong>
        </div> -->
        <div class="alert alert-info row">
          <div class="col-md-3"><label>Filters:</label></div>
          <div class="col-md-3">
            <input class="form-control" (change)="onDateChange($event)" [(ngModel)]="searchData.date" type="date">
          </div>
          <div class="col-md-3">
            <input class="form-control" type="text" placeholder="Search by Text" [(ngModel)]="searchData.text">
          </div>
          <div class="col-md-3">
            <button class="btn btn-outline-primary" (click)="onSearchFilter()">Search</button>
          </div>
        </div>
      </h4>
      <hr>

      <ng-template #dayEventTemplate let-weekEvent="weekEvent">
        <div [title]="getTitle(weekEvent.event)"  id="event"
             [class.event-active]="classApply==true && searchEvent === weekEvent.event.title"
             style="border: 1px solid"
             [ngStyle]="{'background-color': weekEvent.event.color.secondary,  'border-color': weekEvent.event.color.primary}">
          <input type="checkbox" (change)="checkBoxCheck(weekEvent.event)"> <span (click)="onEventEdit(weekEvent.event)" class="cut-text"
          style="color: #1e90ff; font-size: 12px"> {{weekEvent.event.title}}</span>
        </div>
      </ng-template>
      <ng-template #eventWeekTemplate let-weekEvent="weekEvent">
        <div [title]="getTitle(weekEvent.event)"
             style="border: 1px solid;"
             [ngStyle]="{'background-color': weekEvent.event.color.secondary, 'border-color': weekEvent.event.color.primary}">
          <input type="checkbox" (change)="checkBoxCheck(weekEvent.event)"> <span class="cut-text"
          style="color: #1e90ff; font-size: 12px"> {{weekEvent.event.title}}</span>
        </div>
      </ng-template>

      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
          (dayClicked)="clickedDate = $event.day.date"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventDropped($event, 'month')"
          [activeDayIsOpen]="activeDayIsOpen"
          [refresh]="refresh">
        </mwl-calendar-month-view>
        <!--        (beforeViewRender)="beforeMonthViewRender($event)"-->
        <!--        (dragEventChanged)="dragEventChanged($event)"-->
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [eventTemplate]="eventWeekTemplate"
          (dayHeaderClicked)="clickedDate = $event.day.date"
          (hourSegmentClicked)="OnDayClickedEvent(clickedDate = $event.date, $event)"
          (beforeViewRender)="beforeWeekViewRender($event)"
          [snapDraggedEvents]="false"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventDropped($event, 'week')"
          [dayStartHour]="weekStartHour"
          [refresh]="refresh">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          time
          [viewDate]="viewDate"
          [events]="events"
          [eventTemplate]="dayEventTemplate"
          [dayStartHour]="dayStartHour"
          (hourSegmentClicked)="OnDayClickedEvent(clickedDate = $event.date,$event)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventDropped($event, 'day')"
          [snapDraggedEvents]="false"
          (beforeViewRender)="beforeDayViewRender($event)"

          [refresh]="refresh">
        </mwl-calendar-day-view>
<!--        [hourSegmentHeight]="60"-->
      </div>
    </div>
  </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" id="myModal" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" style="width: 33%;">
            <a class="nav-link active" href="#user" role="tab" data-toggle="tab">User</a>
          </li>
          <li class="nav-item" style="width: 33%;">
            <a class="nav-link" href="#booking" role="tab" data-toggle="tab">Booking Detail</a>
          </li>
          <li class="nav-item" style="width: 33%;"*ngIf="inEdit">
            <a class="nav-link" href="#subProduct" role="tab" data-toggle="tab">Sub Product</a>
          </li>
        </ul>
      </div>
      <form #user="ngForm" (ngSubmit)="user.form.valid && onSubmit((inEdit)? 'Edit': 'Book')" novalidate>
      <div class="modal-body p-0">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active show" id="user">
            <div class="container">
              <div class="card">
                <div class="card-body">
                    <div class="form-group">
                      <label>First Name</label>
                      <input type="text" class="form-control" name="firstname" required [(ngModel)]="userData.firstname"
                             #firstName="ngModel" [ngClass]="{ 'is-invalid': user.submitted && firstName.invalid }">
                      <div *ngIf="user.submitted && firstName.invalid" class="invalid-feedback">
                        <div *ngIf="firstName.errors.required">First Name is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" class="form-control" name="lastname" required [(ngModel)]="userData.lastname"
                             #lastName="ngModel" [ngClass]="{ 'is-invalid': user.submitted && lastName.invalid }">
                      <div *ngIf="user.submitted && lastName.invalid" class="invalid-feedback">
                        <div *ngIf="lastName.errors.required">Last Name is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Phone No.</label>
                      <input type="number" class="form-control" name="phonenumber" required [(ngModel)]="userData.phonenumber"
                             #phonenumber="ngModel" [ngClass]="{ 'is-invalid': user.submitted && phonenumber.invalid }">
                      <div *ngIf="user.submitted && phonenumber.invalid" class="invalid-feedback">
                        <div *ngIf="phonenumber.errors.required">Phone Number is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>email</label>
                      <input type="text" class="form-control" name="email" required [(ngModel)]="userData.email" email
                             #email="ngModel" [ngClass]="{ 'is-invalid': user.submitted && email.invalid }">
                      <div *ngIf="user.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="booking">
            <div class="container">
              <div class="card">
                <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Product name</label>
                        <select name="product_name" [(ngModel)]="eventData.product_name" class="form-control"
                                required #product_name="ngModel" [ngClass]="{ 'is-invalid': user.submitted && product_name.invalid }">
                          <option value="Friends Fly">Friends Fly</option>
                          <option value="Adults Fly">Adults Fly</option>
                          <option value="Kids Fly">Kids Fly</option>
                          <option value="Family Fly">Family Fly</option>
                        </select>
                        <div *ngIf="user.submitted && product_name.invalid" class="invalid-feedback">
                          <div *ngIf="product_name.errors.required">Product Name is required</div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label>Product Type</label>
                        <select name="product_type" [(ngModel)]="eventData.product_type" class="form-control" [disabled]="inEdit"
                                required #product_type="ngModel" [ngClass]="{ 'is-invalid': user.submitted && product_type.invalid }">
                          <option value="proflyer">Pro Flyer</option>
                          <option value="first_timer">First Timer</option>
                        </select>
                        <div *ngIf="user.submitted && product_type.invalid" class="invalid-feedback">
                          <div *ngIf="product_type.errors.required">Product Type is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Duration</label>
                        <input type="number" class="form-control" name="duration" [(ngModel)]="eventData.totalTime" [disabled]="inEdit"
                               required #totalTime="ngModel" [ngClass]="{ 'is-invalid': user.submitted && totalTime.invalid }">
                        <div *ngIf="user.submitted && totalTime.invalid" class="invalid-feedback">
                          <div *ngIf="totalTime.errors.required">Duration is required</div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label>Quantity</label>
                        <input type="number" class="form-control" name="quantity" [(ngModel)]="eventData.quantity"
                               [disabled]="inEdit" required #quantity="ngModel" [ngClass]="{ 'is-invalid': user.submitted && quantity.invalid }">
                        <div *ngIf="user.submitted && quantity.invalid" class="invalid-feedback">
                          <div *ngIf="quantity.errors.required">Quantity is required</div>
                        </div>
                      </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Booking date </label>
                        <dx-date-box [disabled]="true"
                                     [(min)]="startValue"
                                     [(value)]="eventData.date_selected">
                        </dx-date-box>
                      </div>
                      <div class="form-group col-md-6">
                        <label>Time Slot</label>
                        <input type="text" class="form-control" name="time_slots" disabled
                               [(ngModel)]="eventData.time_slots">
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="subProduct" *ngIf="inEdit">
            <div class="container">
              <div class="card">
                <div class="card-body">
                  <form #event="ngForm">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Product name</label>
                        <select id="sub_product_name" class="form-control" [(ngModel)]="subData.sub_product_name" name="sub_product_name" (change)="onProductChange()">
                          <option *ngFor="let product of productlist" value="{{product.name}}">{{product.name}}
                            <input class="form-control" type="hidden" id="newunique_id" [value]="'product.unique_id'" [(ngModel)]="subData.unique_id" name="newunique_id" />
                          </option>
                        </select>

                      </div>
                      <div class="form-group col-md-6">
                        <label>Product Name PT</label>
                        <input class="form-control" type="text" id="sub_product_name_pt" disabled [(ngModel)]="subData.sub_product_name_pt" name="sub_product_name_pt" />
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Product Type</label>
                        <input class="form-control" type="text" id="newsub_product_type" disabled [(ngModel)]="subData.sub_product_type" name="newsub_product_type" />
                      </div>
                      <div class="form-group col-md-6">
                        <label>Quantity</label>
                        <input class="form-control" type="text" id="newQuantity" required [(ngModel)]="subData.quantity" name="newQuantity" />
                      </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Price </label>
                        <input class="form-control" type="text" id="newprice" disabled [(ngModel)]="subData.sub_product_price" name="newprice" />
                      </div>
                    </div>

                  </form>
                 <!-- <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th>Product Name</th>
                      <th>Product Name PT</th>
                      <th>Product Type</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let field of fieldArray; let i = index">
                      &lt;!&ndash;<td>
                        <input [(ngModel)]="field.code" class="form-control" type="text" [name]="'field.code'" [id]="'field[i].code'" />
                      </td>
                      <td>
                        <input [(ngModel)]="field.name" class="form-control" type="text" [name]="'field.name'" [id]="'field[i].name'"/>
                      </td>
                      <td>
                        <input [(ngModel)]="field.price" class="form-control" type="text" [name]="'field.price'" [id]="'field[i].price'"/>
                      </td>
                      <td>
                        <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                      </td>
                    </tr>&ndash;&gt;
&lt;!&ndash;                    <tr>&ndash;&gt;
                      <td>
                        <select id="newproduct_{{field.id}}" class="form-control" [(ngModel)]="field.sub_product_name" name="newproduct_{{field.id}}" (change)="onProductChange()">
                          <option *ngFor="let product of productlist" value="{{product.name}}">{{product.name}}
                          <input class="form-control" type="hidden" id="newunique_id_{{field.id}}" [value]="'product.unique_id'" [(ngModel)]="field.unique_id" name="newunique_id_{{field.id}}" />
                          </option>
                        </select>

                      </td>
                      <td>
                        <input class="form-control" type="text" id="newname_pt_{{field.id}}" disabled [(ngModel)]="field.sub_product_name_pt" name="newname_pt_{{field.id}}" />
                      </td>
                      <td>
                        <input class="form-control" type="text" id="newsub_product_type_{{field.id}}" disabled [(ngModel)]="field.sub_product_type" name="newsub_product_type_{{field.id}}" />
                      </td>
                      <td>
                        <input class="form-control" type="text" id="newQuantity_{{field.id}}" required [(ngModel)]="field.quantity" name="newQuantity_{{field.id}}" />
                      </td>
                      <td>
                        <input class="form-control" type="text" id="newprice_{{field.id}}" disabled [(ngModel)]="field.sub_product_price" name="newprice_{{field.id}}" />
                      </td>
                      <td>
                        <button class="btn btn-default" type="button" (click)="addFieldValue()" [disabled]="(field.quantity !== '' || field.quantity !== undefined) && (field.sub_product_name !== '' || field.sub_product_name !== undefined)">Add</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary" *ngIf="inEdit">Edit</button>
        <button class="btn btn-outline-primary" *ngIf="!inEdit">Book</button>
        <button type="button" class="btn btn-outline-danger" (click)="onCloseHandled()">Cancel</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!--
<app-header></app-header>
<div class="alert alert-info">
  Click on a day or time slot on the view.
  <strong *ngIf="clickedDate"
  >You clicked on this time: {{ clickedDate | date:'medium' }}</strong
  >
  <strong *ngIf="clickedColumn != null"
  >You clicked on this column: {{ clickedColumn }}</strong
  >
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
    (dayClicked)="clickedDate = $event.day.date"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    (dayHeaderClicked)="clickedDate = $event.day.date"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-day-view>
</div>
-->
