.bg-pink {
  background-color: gray !important;
}
.drag-active {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.drag-over {
  background-color: #eee;
}
.two-min-width {
  width: 20%;
  border: 1px solid;
  font-size: smaller;
}
.four-min-width {
  width: 40%;
  border: 1px solid;
}
.backdrop{
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}
 /*tab css*/
.nav-tabs {
  width: 100%;
  background: #0000001c;
}
.nav-item {
  width: 50%;
}
ul li.nav-item a.nav-link,
ul li.nav-item a.nav-link.active
{
  border: none;
  /*padding: 18px 25px;*/
  color: black;
  border-radius:0;
}
.tab-content{
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top:3px solid dodgerblue;
  border-bottom:5px solid dodgerblue;
  padding:30px 25px;
}

ul li.nav-item a.nav-link:hover,ul li.nav-item a.nav-link.active,
ul li.nav-item a.nav-link:focus
{
  border: none;
  border:2px solid dodgerblue;
  color: black;
  border-radius:0;
  transition:background 0.20s linear;
}
.nav.nav-tabs{

  border: none;
  color:black;
  border-radius:0;

}
.modal {
  overflow: scroll;
}
.event-active  {
  border-radius: 3px;
  animation: highlight 5000ms ease-out;
}

@keyframes highlight {
  from {
    background-color: black;
  }
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 40px;
  display: inline-block;
  white-space: nowrap;
}
/*.cal-week-view .cal-time-events .cal-event-container {
  width: auto!important;
}*/
/*.cal-week-view mwl-calendar-week-view-hour-segment, .cal-week-view .cal-hour-segment{
  height: 60px !important;
}*/
